*{
margin: 0;
padding: 0;
box-sizing: content-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
:root{
  --lightblue:#B4D0E7;
  --black:#000000;
  --butonblue:#0061FF;
}
h1{
  font-size: 3.2rem
}
.p-fixed{
  position: fixed;
  width: 100%;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position:absolute
}
.d-flex{
  display: flex;
}
.f-wrap{
  flex-wrap: wrap;
}
.s-between{
  justify-content: space-between;
}
.j-center{
  justify-content: center;
}
.j-right{
 justify-content: right;
}
.j-left{
  justify-content: left;
}
.a-center{
  align-items: center;
}
.a-right{
  align-items: right;
}
.ac-start{
  align-content: flex-start;
}
ul, li{
  list-style: none;
}
.d-column{
  flex-direction: column;
}
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.btn{
  padding: 3px 5px;
}
.btn-blu{
  background-color: var(--butonblue);
}
.btn:hover{
   cursor: pointer;
 }
.white{
   color: white;
}
.bold{
   font-weight: bold;
}
/* header */
header{
  border-bottom: 1px solid lightgray;
}
header .container{
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 999;
  min-width: 830px;
}
header .container .logo{
  padding: 0px 10px;
}
header .container .menu li{
  height: 100%;
  padding: 14px 5px;
  border-bottom: 2px solid white;
}
header .menu li:hover{
  border-bottom: 2px solid black;
  cursor: pointer;
}
header .menu.principale{
  left: 145px;
}
header .menu.secondario{
  right: 120px;
}
header .accedi{
  right: 7px;
}
header a{
  text-decoration: none;
  color: black;
}
/* main */
main{
  padding-top: 50px;
}
  /* jumbotron */
  .bg-jumbo{
  background-color:#B4D0E7;
  }
  .bg-jumbo .container{
  margin: 0px auto;
  padding-top: 50px;
  width: 90%;
  max-width: 1200px;
  min-width: 830px;
  }
  .bg-jumbo .container .informacion{
  padding-top: 50px;
  margin-bottom:-5%
  }
  .bg-jumbo .container .informacion .texto{
  width: 30%;
  }
  .bg-jumbo .container .informacion .img-jumbo{
  width: 70%;
  }
  .bg-jumbo .container .informacion .img-jumbo img{
  width: 100%;
  }
  .bg-jumbo .container .informacion .texto .prova{
  margin: 20px 0px;
  width: 190px;
  text-align: center;
  }
  .bg-jumbo .container .informacion .texto .arrow{
  left:0;
  bottom:15%;
  font-size: 40px;
  }
  .bg-jumbo a{
    text-decoration: none;
  }
  .bg-jumbo a.arrow{
    color: #000000;
  }
  /* info-costi */
  .info-costi{
    padding-top: 100px;
    width: 100%;
    background-color: white;

  }
  .info-costi .container{
    width: 75%;
  }
  .info-costi .container h2{
    margin-bottom: 40px;
  }
  .info-costi .container .fatturazione .mensile{
    margin-right: 40px;
  }
  .info-costi .container .fatturazione{
    margin-bottom: 30px;
  }
  /* cards */
  .small{
    width: 30%;
    min-width: 200px;
  }
  .card{
    border: 1px solid #d0d0d3;
  }

  .card h3{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #d0d0d3 ;
    padding: 5px 0px;
    font-size: 10px;
  }
  .internal-info{
    margin: 15px;
  }    
  .internal-info span{
    display: block;
  }
  .type{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .price{
    font-size: 12px;
    padding-bottom: 7px;
    font-weight: bold;
  }
  .periodo{
    color: #6a6a6a;
    font-size: 10px;
    padding-bottom: 30px;
  }
  .internal-info li{
    font-size: 12px;
    padding-bottom: 15px;
  }
  .internal-info ul li:last-child{ 
    padding-bottom: 30px;
  }
  .internal-info .prova{
    font-size: 12px;
    text-align: center;
  }
  .acquista{
    padding: 30px 0px 30px;
    font-size: 12px;
  }
  .divider{
    border-bottom: 1px solid #d0d0d3;
    width: 50px;
    color: white;
    font-size: 1px;
    margin-bottom: 30px;
  }
  .punti{
    font-weight: bold;
    margin-bottom: 15px;
    }
  main ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
  }
  main li {
    padding-left: var(--icon-space);
  }
  main li:before {
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
  }
  .piano li:before {
    content: "\f00c";
    color: blue;

  }
  .user li:before {
    content: "\f007";
  }
  .folder li:before {
    content: "\f07b"
  }
  .share li:before {
    content: "\f1e0";
  }
  .prova a{
    text-decoration: none;
  }
  .share{
    padding-bottom: 20px;
  }
  /* big-card */
  .big{
    width: 100%;
    margin-top: 30px;
  }
  .big .price{
    margin-bottom: 30px;
  }
  .internal-info .text{
    width: 70%;
  }
  .big .contatta {
    width: 25%;
    top: 0px;
    right: 0px;
    text-align: center;
    padding: 7px;
  }
  .big .contatta a{
    text-decoration: none;
  }
  /* Partner */
  .partner{
    margin: 90px auto 90px;
    width: 75%;
  }
  .partner .img{
    width: calc(200% / 3);
  }
  .partner .img img{
    width: 100%;
  }
  .partner .text{
    width: calc( 100% / 3);
    padding: 30px;
  }
  .text .info{
    font-size: 12px;
    margin: 15px 0px;
    display: block;
  }
  .btn.vuoto a{
    text-decoration: none;
    color: black;
  }
  .btn.vuoto{
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
  }
  .btn.border{
    border: 1px solid black;
  }
  /* altre info */
  .altre-info{
    margin: 0 auto;
    width: 75%;
  }
  .second-card{
    width: 30%;
    margin: 30px 0px 10px;
    border-radius: 5px;
    min-width: 220px;
  }
  .second-card:hover{
    box-shadow: 0px 0px 5px ;
  }
  .second-card img{
    width: 100%;
  }
  .second-card p{
    font-size: 12px;
    margin: 10px 0px;
  }
  /* sottotitolo */
  .sottotitolo{
    margin: 70px auto;
    width: 75%;
  }
  .sottotitolo h2{
    margin-bottom: 15px;
  }
  /* brands */
  .brands{
    width: 100%;
  }
  .brands .row{
    width: calc(100% / 3);
  }
  .square {
    width:calc(100% / 2);
    height:calc(100vw /6)
  }
  .big-square {
    width:100%;
    height:calc(((100vw / 6)*2)-40px);
    padding: 27px;
    font-size: 8px;
  }
  .big-square img{
    width: 50%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }
  .big-square p{
    margin: 20px auto;
  }
  .brand{
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(1);
  }
  /* background colors */
  .bg-green{
    background-color: #A2D39B ;
  }
  .bg-viola{
    background-color: #61082B;
  }
  .bg-blu{
    background-color: #0093CE;
  }
  .bg-lightred{
    background-color: #FF1C1C;
  }
  .bg-red{
    background-color: #D5001F;
  }
  .bg-lightblue{
    background-color: #B4D0E7;
  }
  .bg-azzurro{
    background-color: #0D2481;
  }
  .bg-giallo{
    background-color: #FFD830;
  }
  .bg-lightgrey{
    background-color: #F5F5F5;
  }
/* portare */
.portare {
  background-color:  #B4D0E7;
}
.portare .container{
  width: 75%;
  margin: 0 auto;
  height:calc(100vw /6);
  background-color: #B4D0E7;
}

/* footer */
footer{
  width: 100%; 
  background-color: #000000;
}
footer .container{
  width: 90%;
  max-width: 1500px;
  min-width: 830;
  height: 100%;
}
footer .container .top{
  padding:40px 0px 50px;
  width: 100%;
}
footer .container .top .row{
  width: calc(100% / 5);
  min-width: 170px;
}
footer .container .top .row li{
  padding-bottom: 20px
}
footer .container .bot{
  border-top: 1px solid #999999;
  color: #999999;
  padding: 40px 0px;
  width: 110px;
}
