*{
margin: 0;
padding: 0;
box-sizing: content-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
:root{
  --lightblue:#B4D0E7;
  --black:#000000;
  --butonblue:#0061FF;
}
h1{
  font-size: 3.2rem
}
.p-fixed{
  position: fixed;
  width: 100%;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position:absolute
}
.d-flex{
  display: flex;
}
.f-wrap{
  flex-wrap: wrap;
}
.s-between{
  justify-content: space-between;
}
.j-center{
  justify-content: center;
}
.j-right{
 justify-content: right;
}
.j-left{
  justify-content: left;
}
.a-center{
  align-items: center;
}
.a-right{
  align-items: right;
}
ul, li{
  list-style: none;
}
.d-column{
  flex-direction: column;
}
a{
  text-decoration: none;
  color: black;
}
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.btn{
  padding: 3px 5px;
}
/* header */
header .container{
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 999;
  min-width: 830px;
}
header .container .logo{
  padding: 0px 10px;
}
header .container .menu li{
  height: 100%;
  padding: 14px 5px;
  border-bottom: 2px solid white;
}
header .menu li:hover{
  border-bottom: 2px solid black;
  cursor: pointer;
}
.menu.principale{
  left: 145px;
}
.menu.secondario{
  right: 120px;
}
.accedi{
  right: 7px;
}
.btn-blu{
 background-color: var(--butonblue);
}
.btn-blu:hover{
  cursor: pointer;
}
.white{
  color: white;
}
.bold{
  font-weight: bold;
}
/* main */
main{
  padding-top: 50px;
}
.bg-jumbo{
  background-color:#B4D0E7;
}
.bg-jumbo .container{
  margin: 0px auto;
  padding-top: 50px;
  width: 90%;
  max-width: 1200px;
  min-width: 830px;
}
.informacion{
  padding-top: 50px;
  margin-bottom:-5%
}
.texto{
  width: 30%;
}
.img-jumbo{
  width: 70%;
}
.img-jumbo img{
  width: 100%;
}
.prova{
  margin: 20px 0px;
  width: 190px;
  text-align: center;
}
.arrow{
  left:0;
  bottom:15%;
  font-size: 40px;
}
/* footer */
footer{
  width: 100%; 
  background-color: #000000;
}
footer .container{
  width: 90%;
  max-width: 1500px;
  min-width: 830;
  height: 100%;
}
.top{
  margin:40px 0px 50px;
  width: 100%;
}
.row{
  width: calc(100% / 5);
  min-width: 170px;
}
.row li{
  padding-bottom: 20px
}
.bot{
  border-top: 1px solid #999999;
  color: #999999;
  padding: 40px 0px;
  width: 110px;
}
